
@{
    ViewData["Title"] = "Code";
}

<h1>Code</h1>

@*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script type="text/javascript">
    var fallbackToStore = function () {
        window.location.replace("google.com" +@ViewBag.code);
    };
    var openApp = function() {
        window.location.replace('com.example.deeplink://Share');
    };
    var triggerAppOpen = function() {
      openApp();
      setTimeout(fallbackToStore, 250);
    };
</script>*@